aiohappyeyeballs==2.6.1
aiohttp==3.11.14    
aiohttp-retry==2.9.1
aiomysql==0.2.0     
aiosignal==1.3.2    
pip uninstall -y rest_framework_simplejwt
pip install djangorestframework-simplejwt
annotated-types==0.7.0
anyio==4.8.0
asgiref==3.8.1
attrs==25.1.0
autobahn==24.4.2
Automat==24.8.1
bcrypt==4.0.1
certifi==2025.1.31
cffi==1.17.1
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
constantly==23.10.4
cryptography==44.0.0
daphne==4.1.2
Django==5.1.5
django-extensions==3.2.3
django-otp==1.5.4
django-phonenumber-field==8.0.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.3.1
dnspython==2.7.0
docutils==0.21.2
email_validator==2.2.0
fastapi==0.115.8
frozenlist==1.5.0
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
itsdangerous==2.2.0
jedi==0.19.2
marimo==0.10.17
Markdown==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
msgpack==1.1.0
multidict==6.2.0
narwhals==1.24.0
o==0.0.2b2
packaging==24.2
parso==0.8.4
passlib==1.7.4
phonenumbers==8.13.53
phonenumberslite==9.0.1
pillow==11.1.0
polars==1.21.0
polars-lts-cpu==1.21.0
propcache==0.3.0
psutil==6.1.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycrdt==0.11.1
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
PyJWT==2.10.1
pymdown-extensions==10.14.1
PyMySQL==1.1.1
pyOpenSSL==25.0.0
pyotp==2.9.0
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
qrcode==8.0
redis==5.0.1
requests==2.32.3
rest-framework-simplejwt==0.0.2
rich==13.9.4
ruff==0.9.3
service-identity==24.2.0
setuptools==75.8.0
shellingham==1.5.4
sniffio==1.3.1
SQLAlchemy==2.0.37
sqlparse==0.5.3
starlette==0.45.3
tomlkit==0.13.2
twilio==9.5.1
Twisted==24.11.0
txaio==23.1.1
typer==0.15.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
websockets==14.2
yarl==1.18.3
zope.interface==7.2
zxcvbn==4.5.0